@charset "UTF-8";

main.index{
    justify-content: space-between;
    align-items: center;
}

article{
    text-align: center;
}

.profile-pic img{
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    width: 330px;
}

.profile-title h1{
    text-transform: uppercase;
    color: white;
    font-size: 70px;
}

.profile-title h1 span{
    color: orange;
}

.profile-title h1, .profile-title p{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.350);
}

.profile-title p{
    color: lightgray;
    font-size: 18px;
    letter-spacing: 1px;
}