@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #282B28;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    min-height: 100vh;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



header{
    border: 3px solid white;
    min-width: 100vw;
    font-size: 18px;
    
}

ul{
    display: flex;
    justify-content: end;
    gap: 15px;
    padding: 10px;
}

li{
    /*background-color: lightcyan;*/
    list-style-type: none;
}

a{
    color: lightgray;
    text-decoration: none;
    padding: 10px;
}


article{
    border: 3px solid white;
    min-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


section{
    border: 3px solid lightgreen;
}

.profile-pic img{
    border-radius: 50%;
    border: 3px solid white;
    width: 330px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.464);
}

.profile-title{
    width: 58%;
}

.profile-title h1{
    color: white;
    font-size: 75px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.375);
}

.profile-title span{
    color: orange;
}

.profile-title p{
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.375);
    color: lightgray;
}


footer{
    border: 3px solid white;
    min-width: 100vw;

    text-align: center;
    color: lightgray;
}