@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #282B28;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header{
    background-color: lightblue;
    padding: 10px;
    font-size: 18px;
}

ul{
    background-color: blueviolet;
    display: flex;

    justify-content: end;
}

li{
    background-color: yellow;
    list-style: none;
    padding: 10px;
    margin: 5px;
}

a{
    color: lightgrey;
    text-decoration: none;
    padding: 10px;
}




article{
    background-color: lightgreen;
    
    margin: 9.6% 0;
    
    display: flex;
    gap: 5px;
}

.profile-pic{
    background-color: yellow;

    width: 35%;
    text-align: center;
}

.profile-pic img{
    border-radius: 50%;
}

.profile-title{
    background-color: green;
    width: 64%;
}

footer{
    background-color: lightsalmon;
}